{% extends 'umeo_site/base.html' %}

{% load static %}

{% block title %}Umeo-Net{% endblock %}

{% block content%}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-3" src="{% static 'umeo_site/img/umeoavata.png' %}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading-ume text-uppercase mb-0">梅尾の誕生日<br>おめでとうサイト</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div><!--ここ梅のマークにする-->
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h2 class="masthead-subheading font-weight-light mb-0">{{ user.username }}さん ようこそ！<br>梅尾P {{ user.umeop }}P</h2>
        <br>
        <!--<h2 class="masthead-ume-nokori">残り{{remain}}日</h2>-->
        <h2 class="masthead-ume-nokori">今日は梅尾の誕生日！<br>おめでとう！！！</h2>
    </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">コンテンツ</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>


        <!-- Portfolio Grid Items-->
        <!--
            https://icon-rainbow.com/
            このサイトのアイコンいいな

            優先度：高
            梅尾プロフィール：めっちゃかっこよく
            梅尾の画像がいたるところに．パラちゃん
            ハッピーバースデー梅尾：みんなに歌を歌ってもらって，合成

            #梅尾の誕生日まであと～日

            梅尾ポイントと壁紙，サインとかを引き換え

            ランク報酬
            ・当日お話できる
            ・

            イラスト10000P
            歌 5000P
            詩 1000P
            写真　1000P
            

            ガチャ

            リンク
            YouTube, Twitter, Note, 天野さん
            
            #1:梅尾好きボタン button
            #2:おめでとうメッセージ message （名前，メッセージ）が記入できるフォーム　掲示板（名前はユーザ名でいいや）
            4:ランキング ranking
            :プロフィール 名前，umeop, 持ち株， ランキング， プロフィール画像
            3:梅尾株　stock グラフ表示　１時間ごとに変動させるのは，どうやってやるの？　持ち株数はUserにくっつける？
            :育成ゲーム　どんな梅尾になるかな？（育成成功したらプロフィール画像として使えるようにしたい）


            優先度：中
            :梅尾写真記念館
            :梅尾ギャンブル ちんちろ？　ルーレット？　ハイアンドロー？
            :梅尾ガチャ　景品：スタンプ，声，梅尾育成用の素材（水系の梅尾が育ちやすくなるみたいな）
            :梅尾のいいところ100個 good100

            優先度：低
            :梅尾俳句 haiku
            :うめおみくじ omikuji
            :梅尾RPG


            ec2上に反映させる方法
            1. ローカル環境の変更をgitで反映
            add commit push(実際はvscodeのボタンを押せば上手いことやってくれる)
            2. ec2にログインして，仮想環境に入り，add,commit,pullする
            3. modelとか変更してたら，migrations, migrate
            4. static変更してたら， collectstatic
            5. gunicorn nginxをリスタート
            以上！


        -->

        
        
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-6 col-md-4 col-lg-3 mb-5">
                <a href="{% url 'umeo_site:button' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-heart fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾ボタン</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/ume.png'%}" alt="" />
                    
                </div>
                </a>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-6 col-md-4 col-lg-3 mb-5">
                <a href="{% url 'umeo_site:message' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-envelope fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾への<br>メッセージ</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/letter.png'%}" alt="" />
                </div>
                </a>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-6 col-md-4 col-lg-3 mb-5">
                <a href="{% url 'umeo_site:rank' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-crown fa-3x mb-3"></i><p class="text-center font-weight-bold ">ランキング</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/rank.png'%}" alt="" />
                </div>
                </a>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
                <a href="{% url 'umeo_site:stock' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-chart-line fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾株</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/graph.png'%}" alt="" />
                </div>
                </a>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a href="{% url 'umeo_site:gallery' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-images fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾ギャラリー<br>(工事中)</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/picture.png'%}" alt="" />
                </div>
                </a>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-6 col-md-4 col-lg-3">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-dice fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾丁半博打<br>(工事中)</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/coin.png'%}" alt="" />
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a href="{% url 'umeo_site:typing' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-keyboard fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾タイピング</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/typing.png'%}" alt="" />
                </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a href="{% url 'umeo_site:good' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-center font-weight-bold mb-0">梅尾の<br>いいところ</p><h1>100</h1></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/icon/good.png'%}" alt="" />
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">このサイトは，桑山がプログラミングの練習のために立ち上げたサイトです．<br>ついでに梅尾の誕生日も祝います．</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">いろんなゲームを通じて，梅尾ポイントを稼ぐことができます．梅尾ポイントが高い人は，すごいぞ！</p></div>
        </div>
        <!-- About Section Button-->
        <!--
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download mr-2"></i>
                Free Download!
            </a>
        </div>
        -->
    </div>
</section>

<!-- Footer-->
<div class="home-footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    大阪府大阪市中央区大阪城１−１
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/profile.php?id=100009549695254"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/Umeo511W28L32"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://note.com/511w28l32meo"><img src="{% static 'umeo_site/img/note.png'%}" style="width: 50px; height: auto;"></a>
                <!--<a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                -->
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Freelancer</h4>
                <p class="lead mb-0">
                    Freelance is a free to use, MIT licensed Bootstrap theme created by
                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                    .
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-primary" id="exampleModalLabel">ログインボーナス</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h3 class="modal-body text-center text-secondary py-1">
          {{r_days}}日連続ログインボーナス<br><br>
          梅尾株を{{r_days}}個プレゼント！！
        </h3>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


<!-- ############ javascript  ############ -->
{% block script %}
{% if flag == 1 %}
<script type="text/javascript">
$(window).on('load',function(){
        $('#exampleModal').modal('show');
});
</script>
{% endif %}
{% endblock %}

{% endblock %}