{% extends 'umeo_site/base.html' %}

{% load static %}

{% block title %}Umeo-Net{% endblock %}

{% block content%}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'umeo_site/img/avataaars.svg' %}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">梅尾の誕生日<br>おめでとうサイト</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div><!--ここ梅のマークにする-->
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h3 class="masthead-subheading font-weight-light mb-0">{{ user.username }}さん ようこそ！<br>あなたの梅尾ポイントは{{ user.umeop }}Pです！</h3>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">コンテンツ</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <!--
            優先度：高
            1:梅尾好きボタン button
            2:おめでとうメッセージ message （名前，メッセージ）が記入できるフォーム　掲示板（名前はユーザ名でいいや）
            4:ランキング ranking
            :プロフィール 名前，umeop, 持ち株， ランキング， プロフィール画像
            3:梅尾株　stock グラフ表示　１時間ごとに変動させるのは，どうやってやるの？　持ち株数はUserにくっつける？

            :育成ゲーム　どんな梅尾になるかな？（育成成功したらプロフィール画像として使えるようにしたい）

            優先度：中
            :梅尾ギャンブル ちんちろ？　ルーレット？　ハイアンドロー？
            :梅尾ガチャ　景品：スタンプ，声，梅尾育成用の素材（水系の梅尾が育ちやすくなるみたいな）
            :梅尾のいいところ100個 good100

            優先度：低
            :梅尾俳句 haiku
            :うめおみくじ omikuji
            :梅尾RPG
        -->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="{% url 'umeo_site:button' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-heart fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾ボタン</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/portfolio/cabin.png'%}" alt="" />
                    
                </div>
                </a>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="{% url 'umeo_site:message' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-envelope fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾へのメッセージ</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/portfolio/cake.png'%}" alt="" />
                </div>
                </a>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="{% url 'umeo_site:rank' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-crown fa-3x mb-3"></i><p class="text-center font-weight-bold ">ランキング</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/portfolio/circus.png'%}" alt="" />
                </div>
                </a>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <a href="{% url 'umeo_site:stock' %}">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-chart-line fa-3x mb-3"></i><p class="text-center font-weight-bold ">梅尾株</p></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/portfolio/game.png'%}" alt="" />
                </div>
                </a>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/portfolio/safe.png'%}" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'umeo_site/img/portfolio/submarine.png'%}" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">このサイトは，桑山がプログラミングの練習のために立ち上げたサイトです．<br>ついでに梅尾の誕生日も祝います．</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">いろんなゲームを通じて，梅尾ポイントを稼ぐことができます．梅尾ポイントが高い人は，すごいぞ！</p></div>
        </div>
        <!-- About Section Button-->
        <!--
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download mr-2"></i>
                Free Download!
            </a>
        </div>
        -->
    </div>
</section>

<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    2215 John Daniel Drive
                    <br />
                    Clark, MO 65243
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Freelancer</h4>
                <p class="lead mb-0">
                    Freelance is a free to use, MIT licensed Bootstrap theme created by
                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                    .
                </p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}