<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>トップページ</p>
{% if user.id %}
<p>こんにちは，{{ user.username }}さん</p>
<a href="{% url 'umeo_site:button'%}">梅尾好きボタンはこちらから</a>
<a href="{% url 'umeo_site:logout' %}">ログアウト</a>
{% else %}
<p>アカウント作成orログインをお願いします．</p>
<a href="{% url 'umeo_site:login'%}">ログイン</a><br>
<a href="{% url 'umeo_site:create'%}">アカウント作成</a>
{% endif %}

</body>
</html>