{% load static %}

<head>
    <script src="{% static 'umeo_site/js/skroller.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'umeo_site/css/common.css'%}">
</head>


<body   data-0="background: rgb(255,255,255);"
        data-2000="background: rgb(0, 0, 0);">
<script>
    var s = skrollr.init();
</script>

<div id="stage">
    <div class="section">
        <h1 data-0="color: rgb(0, 0, 0);"
            data-2000="color: rgb(255,255,255);">skrollr</h1>
    </div>
</div>
</body>