{% load static %}

<head>
    <script src="{% static 'umeo_site/js/skrollr.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'umeo_site/css/common.css'%}">
</head>


<body>

<!--
<div id="stage">
    <div class="section">
        <h1 data-0="color: rgb(0, 0, 0);"
            data-2000="color: rgb(255,255,255);">skrollr</h1>
        <h1 class="position-absolute"
            data-0="left: 0px"
            data-2000="left: 1000px">test</h1>
    </div>
</div>
-->

<div style="height:1000px;">
    <div style="position: static; width: 100%; height: 100%;">
        <h1 data-0="left: -20%"
            data-1000="left: 150%"
            style="position: absolute; top: 50%;transform: translate(-50%, -50%);">ccc</h1>
        <h1>ddd</h1>
        <img    data-0="left: 150%"
                data-100="left: 50%"
                src="{% static 'umeo_site/img/umeo/umeo_bike.png'%}" alt="" 
                style="width: 70%; height: auto; position: relative;">
    </div>
</div>




<h1>bbb</h1>

<script>
    var s = skrollr.init();
</script>
</body>