{% extends 'umeo_site/base.html' %}

{% load static %}

{% block title %}梅尾株{% endblock %}

{% block content%}

<header class="masthead text-secondary text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">梅尾株</h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div><!--ここ梅のマークにする-->
            <div class="divider-custom-line"></div>
        </div>
        <!--ボタン-->
        <p>{{ user.username }}さんの梅尾ポイントは{{ user.umeop }}Pointです</p>
        <p>現在の株価は{{ now.value }}Pointです</p>
        <p>持ち株数は，{{ user.stock }}個です</p>
        <!--<p>[{%for s in stock reversed%}'{{s.value}}', {%endfor%}],</p>-->
        <!--<p>[{%for s in stock reversed%}"{{s.created_at.minute}}", {%endfor%}],</p>-->


        <!-- for ajax-->
        
        <!-- /for ajax-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        
        <style>
        #ex_chart {max-width:640px;max-height:480px;}
        </style>

        <canvas id="ex_chart"></canvas>

        <script>
        var ctx = document.getElementById('ex_chart');

        var data = {
            labels: [{%for s in stock reversed%}"{{s.created_at.minute}}", {%endfor%}],
            datasets: [{
                label: '最近の株価変動',
                data: [{%for s in stock reversed%}'{{s.value}}', {%endfor%}],
                lineTension: 0,
                borderColor: 'rgba(255, 100, 100, 1)',
                fill: false,
                borderWidth: 3
            }]
        };

        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        //min: 300
                        beginAtZero: true
                    }
                }]
            }
        };

        var ex_chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });
        </script>

        
        <div style="display:block">
        <div class="mx-auto">
        <form action="{% url 'umeo_site:stock' %}?id=100" method="POST" class="form-inline">
            {% csrf_token %}
            {{form}} 
            <button type="submit" style="width:220px;height:220px" class="btn btn-primary btn-lg font-weight-bold"><i class="fas fa-heart"></i>buy</button>
        </form>
        </div>
        <div class="max-auto">
        <form action="{%url 'umeo_site:stock' %}?id=200" method="post" class="form-inline">
            {% csrf_token%}
            {{form}}
            <button type="submit" style="width:220px;height:220px" class="btn btn-primary btn-lg font-weight-bold"><i class="fas fa-level-up-alt"></i>sell</button>
        </form>
        </div>
        </div>

        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm ml-5" style="width:150px">
                    <form action="{%url 'umeo_site:stock' %}?id=100" method="post" class="form-inline">
                        {% csrf_token%}
                        <div class="w-75">
                            {{form}}
                        </div>
                        <button type="submit" style="width:220px;height:220px" class="btn btn-primary btn-lg font-weight-bold mt-3"><i class="fas fa-heart"></i>buy</button>
                    </form>
                </div>
                <div class="col-sm" style="width:150px">
                    <form action="{%url 'umeo_site:stock' %}?id=200" method="post" class="form-inline">
                        {% csrf_token%}
                        <div class="w-75">
                            {{form}}
                        </div>
                        <button type="submit" style="width:220px;height:220px" class="btn btn-primary btn-lg font-weight-bold mt-3"><i class="fas fa-level-up-alt"></i>sell</button>
                    </form>
                </div>
            </div>
          </div>
        

    </div>

    
    
</header>

{% endblock %}