{% extends 'umeo_site/base.html' %}

{% load static %}

{% block title %}Umeo-Net{% endblock %}

{% block head %}

<meta charset="UTF-8"><title>デモ</title>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://blog.appsol-one.com/custom/00-page/top/typed.js"></script>

{% endblock %}


{% block content %}
    
<header class="masthead text-secondary text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Icon Divider-->
        <div class="divider-custom d-inline" style="font-family: DotGothic16;">
            <span id="typed-sample" style="white-space:pre" class="typed"></span>
        </div>
    </div>
</header>

<p>r_days: {{r_days}}</p>
<p>flag: {{flag}}</p>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ログインボーナス</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{r_days}}日連続ログインボーナス
          梅尾株を{{r_days}}個プレゼント！！
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


<!-- ############ javascript  ############ -->
<script type="text/javascript">
{% if  flag == 1 %}
$(window).on('load',function(){
        $('#exampleModal').modal('show');
});
{% endif %}

$(function(){
    
    // 文章のアニメーションセット
    var typed = new Typed('#typed-sample', {
        strings: [
        'ようこそ{{ user.username }}さん',
        'このサイトは桑山の自己満足',
        'このサイトは梅尾の誕生日を祝うために\n作成されました',
        'UmeoPointを貯めて，\n梅尾への気持ちを表しましょう',
        ],	
        typeSpeed: 70,
        backSpeed: 50,
        startDelay: 1000,
        loop: false,
        smartBackspace: true,
        cursorChar: "|",
    });
});
</script>
<!-- ############ /javascript  ############ -->
{% endblock %}