<h1>{{ question.question_text }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<!--urlタグのpolls:voteは，pollsアプリ内のurls.pyでname=voteとされているurl-->
<form action="{%url 'polls:vote' question.id %}" method="post">
    {% csrf_token%}
    <!--クロスサイトリクエスト対策-->
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <!--押したラジオボタンのidを送信．　choice=# (#は選んだ選択肢のID) -->
        <!-- forloop.counterはforタグのループが何度実行されたかを表す -->
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
