{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--hrefの部分がハードコーディングになってるので以下のように修正
        <li><a href="/polls/{{question.id}}/">
        {{question.question_text}}</a></li> -->
        <li><a href="{% url 'polls:detail' question.id %}">
            {{question.question_text}}</a></li>
        <!--ここで{%url%}が使えるのは，urls.pyでname='detail'を定義しているから-->
        <!--polls:detailとしているのは，pollsというアプリケーション内のdetailを見ろということ-->
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
